<% if post.is_collected?(current_user)%>
  <button type="button" id="collet-btn" class="btn btn-info" onclick="uncollect(event)">UnCollect</button>
<%else%>
  <button type="button" id="collet-btn" class="btn btn-secondary" onclick="collect(event)">Collect</button>
<%end%>
