.replies{
  border-width:2px;
border-color:#9d9d9d;
border-style:solid;
width: 50px;
margin: 0px auto;
}
.user-info-firend{
display: inline-block;
padding: 20px;
}
.user-pic-firend img{
  width:100px;
  height: 100px;

}
.user-pic img{
  width:200px;
  height: 200px;

}
.reply-pic img{
  width:150px;
  height: 150px;

}
.feeds-items{
  display: inline-block;
}
.count-info{
  padding: 50px;
}
.user-top10{
  display: inline-block;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
.icon{
  padding: 10px;
}
.removestyle {
    color: #444444;
    text-decoration: none;
}
a:hover {
color: #444444;
text-decoration:  none;
cursor:pointer;
}
a {
color: #444444;
text-decoration:  none;
cursor:pointer;
}
