.user-info-firend{
display: inline-block;
padding: 20px;
}
.user-pic-firend img{
  width:100px;
  height: 100px;

}
.user-pic img{
  width:200px;
  height: 200px;

}
.reply-pic img{
  width:150px;
  height: 150px;

}
